<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>
   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
</head>
<body>

<div class="container">
<header class="masthead">
   <h3 class="masthead-title">
     <a href="/">
		 <img src="/fig/me.png" alt="" style="float:left;margin-right:10px" height="80" width="70">
	 </a>
     <small>
        &nbsp;&nbsp;&nbsp;<a href="/" fontcolor="#268bd2">Home</a>
     </small>	 
     <small>
        &nbsp;&nbsp;&nbsp;<a href="{{ site.path }}/archive.html" fontcolor="#268bd2">Publications</a>
     </small>
     <small>
       &nbsp;&nbsp;&nbsp;<a href="{{ site.path }}/archive.html">Projects</a>
     </small>
     <small>
       &nbsp;&nbsp;&nbsp;<a href="{{ site.path }}/archive.html">About Me</a>
     </small>
     <small>
       &nbsp;&nbsp;&nbsp;<a href="{{ site.path }}/archive.html">Contact</a>
     </small>
   </h3>
</header>

<div id="content">
  {{ content }}
</div>

</div><!-- .container -->
</body>
</html>
